:root {
    --iris: #4D5AE5;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflover: #E7E9FC;
    --cloud: #F4F4FD;
    --gra: linear-gradient( to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
body {
    background-color: #FFFFFF;
    color: var(--slate);
    font-family: "Roboto", sans-serif;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
button{
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.list {
    list-style: none;
}
.lin {
    text-decoration: none;
}
.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} 
.header-container {
    display: flex;
    align-items: center;
}
.flex-sup {
    display: flex;
    gap: 72px;
}
.no-scroll {
    overflow: hidden;
}
/* Site nav */
.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid var(--cornflover);
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
}
.header-logo-part-two {
    color: var(--navyblue);
}

.header-link,
.header-contact {
    display: none;
}

.menu-open {
    width: 32px;
    height: 22px;
    border: none;
    padding: 0;
    background-color: #fff;
    display: block;
    margin-left: auto;
}

.icon-menu {
    stroke: var(--navyblue);
}
.mob-menu {
    width: 100%;
    height: 100vh;
    top: 0;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    padding-top: 24px;
    padding-bottom: 40px;
}
.mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}
.mob-menu-lin {
    margin-top: 32px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    transition: color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-link:is(:hover, :focus) {
    color: #404BBF;
}
.hov:is(:hover, :focus) {
    color: var(--iris);
}
.mob-menu-contact {
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 48px;
}
.mob-menu-cont {
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    text-transform: capitalize;
    color: var(--slate);
    transition: color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-conte {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-list {
    display: flex;
    gap: 40px;
}
.mob-menu-list-item {
    width: 40px;
    height: 40px;
}
.mob-menu-icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-icon-link:is(:hover, :focus) {
    background-color: #404BBF;;
}
.mob-menu-icon {
    fill: #FFFFFF;
}
/* Main Section Hero */

.hero-title {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0 auto 72px;
    max-width: 320px;
}
.hero {
    background: var(--first-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-mob/bg-1x.jpg);
    max-width: 1440px;
    background-position: 50% 50%;
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-mob/bg-2x.jpg);
    }
}
.hero-button {
    background: var(--iris);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0ch;
    width: 169px;
    height: 56px;
    transition: background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Main Section 2 */

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.section-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--navyblue);
}
.section-text {
    font-weight: 500;
}

/* Main Section 3 */

.galery {
    padding-bottom: 120px;
    display: none;
}
.galery-title {
    margin-bottom: 72px;
}

/* Main Section 4 */

.team {
    background-color: var(--cloud);

    padding-top: 96px;
    padding-bottom: 128px;
}
.team-list {
    flex-direction: column;
    align-items: center;
}
.team-list-card {
    width: 264px;
    height: 428px;
    left: 156px;
    top: 1780px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.team-title {
    margin-bottom: 72px;
}
.team-person {
    color: var(--navyblue);
    margin-bottom: 8px;
}
.text-card {
    padding: 32px 16px;
}
.team-pos {
    margin-bottom: 8px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-soc-list-item {
    width: 40px;
    height: 40px;
}
.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--iris);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon {
    fill: var(--cloud);
}
.team-soc-link:is(:hover, :focus) {
    background-color: #404BBF;;
}

/* Main Saction 5 */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}
.client {
    margin-top: 72px;
    display: flex;
    gap: 72px 16px;
    flex-wrap: wrap;
}
.client-list {
    width: calc((100% - 16px) / 2);
    height: 88px;
}
.client-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #8E8F99;
    transition: border-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:is(:hover, :focus) {
    border-color: #404BBF;
}
.client-link:is(:hover, :focus) .client-icon {
    fill: #404BBF;
    transition: fill 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/* Footer */

.bottom {
    background: var(--navyblue);
}
.container-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
    padding-right: 15px;
    padding-left: 15px;
}
.bottom-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    justify-content: center;
}
.bottom-sublogo {
    color: var(--cloud);
}
.bottom-text {
    color: var(--cornflover);
    margin-top: 16px;
    width: 264px;
    margin: 16px auto;
}
.soc-text {
    font-style: normal;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}
.soc {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.soc-li {
    width: 40px;
    height: 40px;
}
.soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
    transition: background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:is(:hover, :focus) {
    background-color: #31D0AA;;
}

.sub-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}
.sub-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--navyblue);
    padding: 8px 16px;
}
.sub-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.sub-btn {
    background-color: var(--iris);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    font-size: 16px;
    line-height: calc(16/24);
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 8px 24px;
    transition: background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:is(:hover, :focus) {
    background-color: #404BBF;
}
.sub-icon {
    fill: #FFFFFF;
}

/* Portfolio main */

.menu-button {
    background: var(--cloud);
    border: 1px solid var(--cornflover);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    padding: 12px 24px;
    transition: background-color 250ms linear, color 250ms linear, box-shadow 250ms linear, border 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn {
    padding-left: 24px;
    padding-right: 24px;
}
.button-style {
    justify-content: center;
    margin-bottom: 72px;
}
.menu-button:active,
.menu-button:hover,
.menu-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid #404BBF;
}
.menu-title {
    color: var(--navyblue);
    margin-bottom: 8px;
}
.menu {
    padding-top: 96px;
    padding-bottom: 120px;
}
.menu-li {
    width: calc((100% - 48px) / 3);
}
.menu-link:is(:hover, :focus) .includ {
    transform: translateY(0);
}
.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.menu-content {
    padding: 32px 0px 32px 16px;
}
.top-wrap {
    position: relative;
    overflow: hidden;
}
.includ {
    position: absolute;
    top: 0;
    color: var(--cloud);
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px 164px 32px;
    overflow: auto;
}
.menu-link {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: border-color 250ms linear, box-shadow 250ms linear;
}
.menu-link:hover,
.menu-link:focus {
    border-color:  #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.menu-text {
    color: var(--slate)
}
/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms linear, visibility 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
    opacity: 1;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%) scale(1);
    width: 90%;
    min-height: 576px;
    background-color: #fcfcfc;
    border-radius: 4px;
    padding: 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal{
    transform: translate(50%, 50%) scale(0);
}
.modal-close {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2E2F42;
    transition: fill 250ms linear, background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:is(:hover, :focus) {
    fill: #FFFFFF;
    background-color: #404bbf;
}
.modal-title {
    font-weight: 500;
    color: var(--navyblue);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 14px;
}

.name {
    color: #8E8F99;
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: calc(12/16);
}
.label-text {
    color: #8E8F99;
    letter-spacing: 0.01em;
    font-size: 12px;
    line-height: calc(12/14);
}
.modal-includ {
    position: relative;
    margin-top: 4px;
    margin-bottom: 8px;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding: 8px 16px 8px 38px;
}
.modal-input:focus {
    border: 1px solid #4D5AE5;
}
.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
    transition: fill 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 20px;
    transform: translateY(-50%);
}
.modal-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
    letter-spacing: 0.04em;
    font-size: 12px;
    line-height: 1.3;
}
.comment {
    height: 120px;
    padding: 16px 8px;
    resize: none;
    margin-bottom: 0;
    margin-top: 4px;
}
.check-text {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.3;
    color: #757575;
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 24px;
}
.check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--navyblue);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms linear, border 250ms linear, background-image 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.check-link {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.3;
    color: var(--iris);
    margin-left: 4px;
}
.modal-check:checked + .check-text::before {
    background-color: #404BBF;
    border: none;
    background-image: url(../images/icon-accept.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.modal-button {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(16/24);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-align: center;
    min-width: 169px;
    height: 56px;
    padding: 16px 36px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms linear;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.modal-button:is(:hover, :focus) {
    background-color: #404BBF;
}

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
    .flex-sup {
        gap: 72px;
    }
    .mob-menu-cont {
        font-size: 36px;
    }
    /* Hero(1) */
    .hero {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-tablet/bg-1x.jpg);
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/img-tablet/bg-2x.jpg);
        }
    }

    .hero-title {
        font-size: 36px;
    }

    .mob-menu-list {
        display: flex;
        gap: 56px;
    }

    .modal {
        width: 392px;
        
    }
    /* Main Section 2 */
    /* Main Section 3 */
    /* Main Section 4 */
    /* Main Saction 5 */

}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .section {
        padding-left: 16px;
        padding-right: 16px;
    }
    .flex-sup {
        gap: 72px 24px;
    }

    /* Header */

    .header {
        padding-bottom: 10px;
    }
    .header-container {
        align-items: start;
    }

    .link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navyblue);
        transition: color 250ms linear;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link:hover,
    .link:focus {
        color: #404BBF;
    }

    .header-link,
    .header-contact {
        display: flex;
        gap: 40px;
    }

    .header-contact {
        flex-direction: column;
        gap: 4px;
    }

    .current {
        color: #404BBF;
        position: relative;
    }

    .current::after {
        content: '';
        position: absolute;
        left: 0;
        top: 57px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }

    .header-nav {
        display: flex;
        margin-right: auto;
    }
    .cont {
        color: var(--slate);
        transition: color 250ms linear;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .cont:focus,
    .cont:hover {
        color: #404BBF;
    }

    .menu-open {
        display: none;
    }

    .mob-menu {
        display: none;
    }
    /* Hero(1) */
    .hero {
        padding-bottom: 108px;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/img-desctop/bg-1x.jpg);
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/img-desctop/bg-2x.jpg);
        }
    }
    .hero-title {
        font-size: 56px;
        line-height: 60px;
        margin: 0 auto 40px;
        max-width: 496px;
        text-transform: none;
    }
    /* Main Section 2 */
    .section-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section-list-li {
        width: calc((100% - 24px) / 2);
    }
    .section-subtitle {
        text-align: left;
    }
    /* Main Section 4 */
    .team {
        padding-bottom: 104px;
    }
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* Main Saction 5 */
    .customers-div {
        padding-right: 108px;
        padding-left: 108px;
    }
    .client {
        gap: 72px 24px;
    }
    .client-list {
        width: calc((100% - 48px) / 3);
    }
    /* Footer */
    .container-footer {
        padding: 96px 108px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        justify-content: start;
    }
    .bottom-logo {
        justify-content: start;
    }
    .soc-text {
        text-align: left;
    }
    .sub-form {
        flex-direction: row;
        gap: 24px;
    }
    .sub-input {
        width: 264px;
    }

    .modal {
        width: 408px;
        
    }
}


@media screen and (min-width: 1440px) {
    .container {
        max-width: 1160px;
    }
    
    /* Header */

    .header {
        padding-bottom: 28px;
    }

    .current::after {
        top: 48px;
    }

    .header-contact {
        flex-direction: row;
        gap: 40px;
    }

    /* Hero(1) */
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        
    }
    .hero-title {
        margin: 0 auto 48px;
    }
    /* Main Section 2 */
    .section {
        padding: 120px 0;
    }
    .section-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin-top: 8px;
    }
    .section-text {
        font-weight: 400;
    }
    .section-list-li {
        width: calc((100% - 72px) / 4);
    }
    .section-list-li::before {
        display: block;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 112px;
        background-size: 64px 64px;
        background-color: #f4f4fd;
        border-radius: 4px;
    }
    .icon-strategy::before {
        background-image: url(../images/icon-antenna.svg);
    
    }
    .icon-punctuality::before {
        background-image: url(../images/icon-clock.svg);
    }
    .icon-diligence::before {
        background-image: url(../images/icon-diagram.svg);
    }
    .icon-technologies::before {
        background-image: url(../images/icon-astronaut.svg);
    }
    /* Main Section 3 */
    .galery {
        display: block;
    }
    /* Main Section 4 */
    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    /* Main Saction 5 */
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-div {
        padding-left: 16px;
        padding-right: 16px;
    }
    .client-list {
        width: calc((100% - 120px) / 6);
    }
    /* Footer */
    .container-footer {
        gap: normal;
        flex-wrap: nowrap;
        padding: 100px 0px;
    }
    .soc-div {
        margin-left: 120px;
        margin-right: 80px;
    }
}